# default
* text eol=auto

# repository metadata
.gitattributes text eol=lf
.gitignore text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# sources and build scripts
*.java text eol=lf
*.gradle text eol=lf
*.kts text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf

# resources/documentation
*.lang text eol=lf
*.cfg text eol=lf
*.info text eol=lf
*.mcmeta text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.toml text eol=lf

# binaries
*.png binary
*.jar binary
